<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <title>Tasty Treats</title>
   <style>
      .hp {
         opacity: 0;
         position: absolute;
         top: 0;
         left: 0;
         height: 0;
         width: 0;
         z-index: -1;
      }
   </style>

</head>

<body>
   <div class="container">
      <div class="row justify-content-md-center">
         <div class="col col-sm-6">
            <h1 class="text-center">Tasty Treats</h1>
            <form action="/" method="POST">
               <div class="form-group">
                  <label for="nameInput">Name</label>
                  <input name="name" id="nameInput" type="text" placeholder="Name" class="form-control" required />
               </div>

               <div class="form-group">
                  <label for="emailInput">Email</label>
                  <input name="email" id="emailInput" type="email" placeholder="Email address" class="form-control" required />
               </div>

               <div class="form-group">
                  <label for="messageInput">Message</label>
                  <textarea name="message" class="form-control" id="messageInput" rows="4"></textarea>
               </div>

               <div class="form-check">
                  <input name="newsletter" id="newsletterCheck" type="checkbox" /> <label class="form-check-label" for="newsletterCheck">Subscribe to our newsletter</label>
               </div>

               <label class="hp" for="name"></label>
               <input class="hp" autocomplete="off" type="text" id="name" name="name2" placeholder="Name">


               <button type="submit" class="btn btn-primary">Submit</button>
            </form>
         </div>
      </div>

   </div>




   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
